langchain
langchain-groq
openai
pinecone-client
psutil
python-dotenv   
requests
scipy
scikit-learn
sentence-transformers
torch
transformers
langchain_community
tiktoken
langchainhub
chromadb
langchain
beautifulsoup4
sentence-transformers
langchain-huggingface
huggingface_hub
faiss-cpu
pypdf
duckduckgo_search
ddgs
googlesearch-python
talivy-python
langgraph
sentence-transformers
torch
